@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    margin: 20px 200px;
    font-family: poppins;
}

h1{
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color:gray;
}

h3{
    text-transform: uppercase;
}

div{
    border-width: 3px;
    border-style: ridge;
    border-radius: 5px;
    padding: 10px;
}